body{
    background-color: #E4E6B8;
}
.main_container{
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    .container{
        width: 90%;
        min-height: 50px;
        font-size: 23px;
        line-height: 28px;
        text-align: center;
        background-color: #D2C777;
        color: #404040;
        padding: 10px;
        ul{
            display: flex;
            list-style-type: none;
            &>li{
                display: block;
                &:nth-of-type(1){
                    width: 50%;
                }
                &:nth-of-type(2){
                    width: 30%;
                }
                 &:nth-of-type(3){
                    width: 20%;
                }
            }
        }
    }
    .results{
        margin-bottom: 20px;
    }
    .results_title{
        font-weight: bold;
    }
    .count, .products_price{
        font-size: 18px;
    }
}
.form{
    display: flex;
    flex-direction: column;
    input, button{
        margin-top: 8px;
        height: 25px;
    }
    button{
        margin-bottom: 15px;
    }
    product_error, price_error{
        display: block;
    }

}

@media (min-width: 1200px){

    .main_container{
        .container{
            width: 40%;
        }        
    }

   .form{
        flex-direction: row;
    }
}